@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
    font-family: "Miami";
    src: url("../fonts/Miama.ttf");
}

* {
    margin: 0 auto;
    padding: 0;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    background-color: #000000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    font-size: 2.5rem;
    color: #fff;
}

.description {
    font-size: 1rem;
    color: #7f7f7f;
}

.btn-first {
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #e6533c;
    border: none;
    color: white;
    border-radius: 20px;
}

.btn-second {
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 18px;
    background: transparent;
    border: none;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
    margin-left: 5px;
}

.sub-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
}

.text-gray {
    color: #808080;
}

.text-center {
    text-align: center;
}